<template>
    <div
        v-if="loggedIn"
        class="mb15 md-layout-item md-xlarge-size-100 md-layout-item md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100 text-left"
    >
        <md-avatar class="mr15">
            <img
                v-if="currentUser.avatar"
                :src="`${baseUrl}${currentUser.avatar}`"
                alt="Avatar"
            />
            <span v-if="!currentUser.avatar" class="first_logo">
                {{ firstLetterUppercase }}
            </span>
        </md-avatar>
        <h2 class="h2">
            {{ currentUser.company_name }}
        </h2>
        <br />
        <div class="dib">
            <img
                v-if="currentUser.medal"
                :src="require('@assets/images/' + currentUser.medal + '.png')"
                alt="medal"
            />
            <img
                v-if="currentUser.payment_type"
                src="@assets/images/icon-vip.png"
                alt="vip"
            />

            <md-button
                v-if="!currentUser.medal"
                class="buy-medal"
                @click="
                    () => {
                        showMedalsModal = true;
                    }
                "
                >Wybierz medal</md-button
            >
        </div>

        <div class="pull-right">
            <img
                src="@assets/images/zas-b-1.png"
                alt="stawki"
                @click="() => (showPriceModal = true)"
            />

            Stawka {{ currentUser.default_call_price }}/{{
                currentUser.default_take_price
            }}
        </div>
        <div>
            <price-modal
                :show="showPriceModal"
                @closePriceModal="() => (showPriceModal = false)"
            />

            <too-little-credit-modal
                :tooLittleCredit="showMinCreditModal"
                :carrierUUID="currentUser.carrierUUID"
                @closeTooLittleCredit="() => (showMinCreditModal = false)"
            />

            <medals-modal
                :show="showMedalsModal"
                @close="() => (showMedalsModal = false)"
            />
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '@config';
import PriceModal from '../modals/pricesModal';
import TooLittleCreditModal from '../modals/tooLittleCreditModal';
import MedalsModal from '../modals/medalsModal';

export default {
    components: {
        PriceModal,
        TooLittleCreditModal,
        MedalsModal
    },

    data() {
        return {
            showMedalsModal: false,
            showPriceModal: false,
            showMinCreditModal: false,
            minCredit: 55
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser',
            loggedIn: 'auth/loggedIn'
        }),

        firstLetterUppercase() {
            return this.currentUser.company_name.substring(0, 1).toUpperCase();
        },

        baseUrl() {
            return config.mediaBaseUrl;
        }
    },

    methods: {
        checkCredit() {
            if (this.currentUser.credit < this.minCredit) {
                this.showMinCreditModal = true;
            }
        }
    },

    mounted() {
        if (this.loggedIn) {
            this.checkCredit();
        }
    }
};
</script>
