<template>
    <div id="md-toolbar">
        <md-toolbar class="md-small md-primary">
            <div class="md-toolbar-row container">
                <div class="md-toolbar-section-start">
                    <img
                        src="@assets/images/logo.svg"
                        alt="logo"
                        title="logo"
                    />
                </div>

                <div class="md-toolbar-section-end">
                    <div id="points-full-text">
                        {{ loggedIn ? currentUser.credit : 0 }} punktów
                    </div>
                    <div id="points-short-text">
                        {{ loggedIn ? currentUser.credit : 0 }} pkt.
                    </div>

                    <md-button class="btn-add-points" @click="creditModal">
                        <img
                            :src="require('@assets/images/icon_add.svg')"
                            alt="kredyt"
                            title="kredyt"
                        />
                        <div id="add-text">DODAJ</div>
                    </md-button>

                    <md-menu md-size="medium" md-align-trigger>
                        <md-button class="btn-menu" md-menu-trigger>
                            <img
                                :src="require('@assets/images/icon_menu.svg')"
                                alt="menu"
                                title="menu"
                            />
                        </md-button>
                        <md-menu-content class="menu-content">
                            <md-menu-item to="/transfer"
                                >Przekaż pasażera</md-menu-item
                            >
                            <md-menu-item to="/settings"
                                >Ustawienia</md-menu-item
                            >
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </md-toolbar>
        <md-tabs
            v-if="loggedIn"
            class="md-primary"
            md-alignment="centered"
            :md-active-tab="currenttab"
            @md-changed="tabChanged"
        >
            <md-tab id="tab-home" md-label="Zapytania" to="/" exact />
            <md-tab
                id="tab-taken-passengers"
                md-label="Zabrane"
                to="/taken-passengers"
            />
            <md-tab id="tab-deposits" md-label="Zaliczki" to="/deposits" />
        </md-tabs>
        <buy-points-modal :show="showModal" @closeModal="showModal = false" />
    </div>
</template>

<script>
import BuyPointsModal from '../modals/buyPointsModal';
import { mapGetters } from 'vuex';

export default {
    components: {
        BuyPointsModal
    },

    data() {
        return {
            showModal: false,
            currenttab: 'tab-home'
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser',
            loggedIn: 'auth/loggedIn'
        })
    },

    watch: {},

    methods: {
        creditModal() {
            this.showModal = !this.showModal;
        },

        tabChanged() {
            this.currenttab = 'tab-' + this.$route.name;
        }
    }
};
</script>
