<template>
    <md-content class="md-elevation-3">
        <div class="title">
            <img src="@assets/images/logo_color.svg" />
            <div class="md-title">Bus Do Polski - Przewoźnik</div>
        </div>

        <div class="form" v-on:keyup.enter="onEnterSubmit">
            <md-field :class="{ 'md-invalid': $v.formData.email.$error }">
                <label>E-mail</label>
                <md-input
                    v-model="formData.email"
                    @blur="$v.formData.email.$touch()"
                    required
                />
            </md-field>

            <md-field
                md-has-password
                :class="{ 'md-invalid': $v.formData.password.$error }"
            >
                <label>Password</label>
                <md-input
                    v-model="formData.password"
                    type="password"
                    @blur="$v.formData.password.$touch()"
                    required
                />
            </md-field>
        </div>

        <div class="actions md-layout md-alignment-center-space-between">
            <router-link to="/reset-password">Nie pamiętam hasła</router-link>

            <md-button
                v-if="!$v.$invalid"
                class="md-raised md-primary"
                @click="submitLoginForm"
                >Zaloguj się</md-button
            >

            <md-button v-else class="md-raised" disabled>Zaloguj się</md-button>
        </div>

        <div class="loading-overlay" v-if="loading">
            <md-progress-spinner md-mode="indeterminate" :md-stroke="2" />
        </div>
    </md-content>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';

export default {
    validations: {
        formData: {
            email: { email, required },
            password: { required }
        }
    },

    data() {
        return {
            loading: false,
            formData: { email: '', password: '' }
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser'
        })
    },

    methods: {
        ...mapActions({
            login: 'auth/login'
        }),

        enterClicked() {
            alert('Enter clicked');
        },

        onEnterSubmit() {
            if (!this.$v.$invalid) {
                this.submitLoginForm();
            } else {
                this.$toast.error('Błędne dane logowania...');
            }
        },

        async submitLoginForm() {
            this.loading = true;

            try {
                const data = await this.login({
                    email: this.formData.email,
                    password: this.formData.password
                });

                const redirectRoute =
                    this.$route.query.redirectFrom &&
                    this.$route.query.redirectFrom !== '/logout'
                        ? this.$route.query.redirectFrom
                        : { name: 'home' };

                this.$toast.success(`Witaj ponownie, ${data[0].company_name}!`);
                this.$router.push(redirectRoute);
            } catch (error) {
                this.loading = false;
                this.$toast.error('Błędne dane logowania...');
            }
        }
    }
};
</script>
