<template>
    <md-content class="md-elevation-3">
        <div class="title">
            <img src="@assets/images/Logo_bus-do-polski.png" />
            <div class="md-title">Reset Hasła</div>
        </div>

        <div class="form" v-on:keyup.enter="onEnterSubmit">
            <md-field :class="{ 'md-invalid': $v.formData.email.$error }">
                <label>E-mail</label>
                <md-input
                    v-model="formData.email"
                    @blur="$v.formData.email.$touch()"
                    required
                />
            </md-field>
        </div>

        <div class="actions md-layout md-alignment-center-space-between">
            <router-link to="/login">Zaloguj się</router-link>

            <md-button
                v-if="!$v.$invalid"
                class="md-raised md-primary"
                @click="submitResetPassword"
                @keyup.enter.native="submitResetPassword"
                >Zresetuj hasło!@#</md-button
            >

            <md-button v-else class="md-raised" disabled
                >Zresetuj hasło123</md-button
            >
        </div>

        <div class="loading-overlay" v-if="loading">
            <md-progress-spinner md-mode="indeterminate" :md-stroke="2" />
        </div>
    </md-content>
</template>

<script>
import { mapActions } from 'vuex';
import { required, email } from 'vuelidate/lib/validators';

export default {
    validations: {
        formData: {
            email: { email, required }
        }
    },

    data() {
        return {
            loading: false,
            formData: { email: '' }
        };
    },

    methods: {
        ...mapActions({
            resetPassword: 'auth/resetPassword'
        }),

        onEnterSubmit() {
            if (!this.$v.$invalid) {
                this.submitResetPassword();
            } else {
                this.$toast.error('Uzupełnij pole poprawnym adresem email.');
            }
        },

        async submitResetPassword() {
            this.loading = true;

            try {
                const formData = new FormData();
                formData.append('email', this.formData.email);

                await this.resetPassword(formData);

                this.$toast.success(`Hasło zostało wysłane na e-mail`);
                this.$router.push({ name: 'login' });
            } catch (error) {
                this.loading = false;
                this.$toast.error('Coś poszło nie tak...');
            }
        }
    }
};
</script>
