<template>
    <main>
        <div class="centered-container">
            <slot />
            <div class="background" />
        </div>
    </main>
</template>

<script>
export default {
    data() {
        return {};
    },

    methods: {}
};
</script>
