<template slot="md-tab" slot-scope="{ tab }">
    <div>
        <Header name="headerCompontent" />
        <div class="content">
            <div class="container">
                <slot />
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@components/layout/Header';

export default {
    components: {
        Header
    },

    data() {
        return {};
    }
};
</script>
