<template slot="md-tab" slot-scope="{ tab }">
    <div class="">
        <Header name="headerCompontent" />
        <div class="content">
            <div class="container">
                <Carrier ref="carrierComponent" />

                <slot />
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@components/layout/Header';
import Carrier from '@components/layout/Carrier';

export default {
    components: {
        Header,
        Carrier
    },

    data() {
        return {};
    }
};
</script>
