<template>
    <div v-if="landscape" id="app">
        <layout v-if="layout === 'default'">
            <router-view :key="$route.fullPath" />
        </layout>
        <basic-layout v-if="layout === 'basicMain'">
            <router-view :key="$route.fullPath" />
        </basic-layout>
        <auth-layout v-if="layout === 'auth'">
            <router-view :key="$route.fullPath" />
        </auth-layout>
        <error-layout v-if="layout === 'error'">
            <router-view :key="$route.fullPath" />
        </error-layout>
    </div>
</template>

<script>
import Layout from './layouts/main';
import AuthLayout from './layouts/auth';
import ErrorLayout from './layouts/error';
import BasicLayout from './layouts/basicMain';
import appConfig from './app.config.json';

export default {
    page: {
        titleTemplate(title) {
            title = typeof title === 'function' ? title(this.$store) : title;
            return title ? `${title} | ${appConfig.title}` : appConfig.title;
        },

        meta: [{ name: 'description', content: appConfig.description }]
    },

    components: {
        Layout,
        AuthLayout,
        ErrorLayout,
        BasicLayout
    },

    data() {
        return {
            layout: 'default',
            authRoutes: ['login', 'reset-password', 'forget-password'],
            landscape: true
        };
    },

    watch: {
        '$route.fullPath'() {
            let route = this.$route.fullPath.split('/')[1];
            route = route.split('?')[0];

            this.layout = this.$route.meta.layout;
        },

        methods: {
            handleOrientationChange() {
                const orientation = window.screen.orientation.type;

                if (orientation === 'landscape-primary') {
                    this.landscape = false;
                }
            }
        },

        mounted() {
            window.addEventListener(
                'orientationchange',
                this.handleOrientationChange
            );
        }
    }
};
</script>
