<template>
    <div class="getDeposit">
        <span v-if="!depositWait && !depositSuccess && canCall">
            Wygeneruj zaliczkę dla pasażera
            <span class="tooltip">
                <img src="@assets/images/icon-information.png" alt="info" />
                <md-tooltip md-direction="bottom">
                    <span ng-bind-html="msg | unsafeSpecial">
                        Wygenerowanie zaliczki blokuje na 15 minut
                        <br />
                        numer pasażera tylko dla Ciebie.
                        <br />
                        Dodatkowo podnosi Twoją skuteczność o 50%.
                    </span>
                </md-tooltip>
            </span>
        </span>
        <md-button
            v-if="!depositWait && !depositSuccess && canCall"
            class="btn-deposit"
            @click="() => (showDepositModal = true)"
        >
            Zaliczka
        </md-button>
        <md-button
            v-if="
                !canCall && !depositWait && !depositSuccess && disabledDeposit
            "
            class="btn-deposit-disabled"
        >
            Zaliczka
        </md-button>
        <div v-if="depositWait || depositSuccess">
            <hr />
            <span class="w49p dib text-left">Zaliczka</span>
            <span class="w49p dib text-right">{{ depositPrice }} zł</span>
        </div>
        <div v-if="depositWait" class="w100p text-left mt10">
            <span class="c707070 fs13 ">
                <img
                    src="@assets/images/icon-zaliczka.png"
                    alt="wait for payment"
                />
                Oczekiwanie na wpłate zaliczki
            </span>
        </div>
        <div v-if="depositSuccess" class="w100p text-left mt10">
            <span class="cadc247 fs13">
                <img
                    src="@assets/images/icon-zaliczka-2.png"
                    alt="wait for payment"
                />
                Opłacona
            </span>
        </div>
        <deposit-modal
            :show="showDepositModal"
            @closeDepositModal="() => (showDepositModal = false)"
            @emitDepositSent="emitDepositSent"
        />
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import DepositModal from '../modals/depositModal';

export default {
    components: {
        DepositModal
    },

    props: {
        canCall: {
            type: Boolean,
            default: false
        },

        disabledDeposit: {
            type: Boolean,
            default: false
        },

        depositWaitForPayment: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            depositSent: false,
            depositWait: false,
            depositSuccess: false,
            depositPrice: 0,
            showDepositModal: false
        };
    },

    watch: {
        depositWaitForPayment(e) {
            if (e) {
                this.getDeposit();
            }
        }
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser'
        })
    },

    methods: {
        ...mapActions({
            getDepositApp: 'content/getDepositApp'
        }),

        emitDepositSent(value) {
            this.depositSent = value;
            this.depositWait = value;
            this.showDepositModal = false;
            this.getDeposit();
        },

        async getDeposit() {
            const { inquiryUUID } = this.$route.params;
            const { carrierUUID } = this.currentUser;

            const { deposit } = await this.getDepositApp({
                carrierUUID,
                inquiryUUID
            });

            if (deposit != null) {
                this.depositSent = true;
                this.depositPrice = deposit.price;
                if (deposit.status === 'COMPLETED') {
                    this.depositSuccess = true;
                } else {
                    this.depositWait = true;
                }
            }
        }
    },

    created() {
        this.getDeposit();
    }
};
</script>
