<template>
    <md-card id="route">
        <md-card-header class="db">
            <md-card-header-text>
                <div class="md-layout-item md-subhead  md-xsmall-size-50">
                    <small
                        >{{ route.created_at | formatDate }}
                        {{ route.created_at_format }}</small
                    >
                </div>
                <div
                    class="md-layout-item md-subhead md-xsmall-size-50 text-right"
                >
                    <small>Ilość wyświetleń: {{ views }}</small>
                </div>
            </md-card-header-text>
            <md-card-header-text>
                <div class="md-layout-item md-subhead  md-xsmall-size-100">
                    <h2>Zapytanie <strong>Pasażera</strong></h2>
                </div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div
                class="md-layout-item md-subhead md-xsmall-size-15 text-left mw40"
            >
                <img src="@assets/images/icon-marker.png" alt="from" />
            </div>
            <div class="md-layout-item md-subhead md-xsmall-size-85 text-left">
                {{ route.from }}
            </div>
        </md-card-content>
        <md-card-content>
            <div
                class="md-layout-item md-subhead md-xsmall-size-15 text-left mw40"
            >
                <img src="@assets/images/icon-marker.png" alt="to" />
            </div>
            <div class="md-layout-item md-subhead md-xsmall-size-85 text-left">
                {{ route.to }}
            </div>
        </md-card-content>
        <md-card-content>
            <div
                class="md-layout-item md-subhead md-xsmall-size-15 text-left mw40"
            >
                <img src="@assets/images/icon-calendar.png" alt="from" />
            </div>
            <div class="md-layout-item md-subhead md-xsmall-size-85 text-left">
                {{ route.requested_at | formatDate }}
            </div>
        </md-card-content>
        <md-card-content>
            <div
                class="md-layout-item md-subhead md-xsmall-size-15 text-left mw40"
            >
                <img src="@assets/images/icon-person.png" alt="from" />
            </div>
            <div class="md-layout-item md-subhead md-xsmall-size-85 text-left">
                Ilość pasażerów: {{ route.count }}
            </div>
        </md-card-content>
        <md-card-content>
            <div
                class="md-layout-item md-subhead md-xsmall-size-15 text-left mw40"
            >
                <img src="@assets/images/icon-person.png" alt="from" />
            </div>
            <div
                class="md-layout-item md-subhead md-xsmall-size-85 text-left mw40"
            >
                {{ route.phone }}
            </div>
        </md-card-content>
        <md-card-actions md-alignment="left">
            <md-button
                v-if="canCall"
                class="btn-call"
                @click="checkCreditAndCall"
            >
                <img src="@assets/images/icon-call.png" alt="call" />
                &nbsp;&nbsp;{{ iCall ? route.phone : 'Pokaż numer' }}
            </md-button>
            <md-button v-if="!canCall && disabledCall" class="btn-action">
                <img src="@assets/images/icon-call-2.png" alt="call" />
                &nbsp;&nbsp;Pokaż numer
            </md-button>
            <md-button v-if="calling && !canCall" class="btn-action">
                <img src="@assets/images/icon-call-2.png" alt="call" />
                &nbsp;&nbsp;Zadzwoń za
                <span id="counter">
                    {{ time }}
                </span>
            </md-button>
            <md-progress-bar
                v-if="calling && !canCall"
                class="countdown-line"
                :style="{ width: progressWidth + '%' }"
            />

            <md-button
                v-if="canTake"
                class="btn-action btn-get-passenger-relative"
                @click="checkCreditAndGetPassenger"
            >
                Zabieram
            </md-button>
            <md-button v-else-if="!canTake && disabledTake" class="btn-action">
                Zabieram
            </md-button>
            <md-button v-if="isTaken" class="btn-taken">
                <img src="@assets/images/icon-check.png" alt="call" />
                &nbsp;&nbsp; Zabrałeś
            </md-button>
        </md-card-actions>
        <md-card-actions v-if="offerExpired" md-alignment="left">
            <div class="takenByCarrier">
                Przykro nam… ta oferta już nie jest aktywna ;(
            </div>
        </md-card-actions>
        <md-card-actions v-if="showTakenMessage" md-alignment="left">
            <div class="takenByCarrier">
                {{ passengerHasBeenTakenBy }}
            </div>
        </md-card-actions>

        <deposit-section
            v-if="!offerExpired"
            :canCall="canCall"
            :disabledDeposit="!disabledDeposit"
            :depositWaitForPayment="depositWaitForPayment"
        />

        <snackbar :show="showCalling" :text="passengerIsTalkingMessage" />
        <snackbar :show="showTakenMessage" :text="passengerHasBeenTakenBy" />
        <snackbar
            :show="offerExpired"
            text="Przykro nam… ta oferta już nie jest aktywna ;("
        />

        <after-call-modal
            :show="openAfterCallModall"
            @carrierDontGetPassenger="carrierDontGetPassenger"
            @carrierGetPassenger="checkCreditAndGetPassenger"
        />

        <too-little-credit-modal
            :show="tooLittleCredit"
            :carrierUUID="carrierUUID"
            @closeTooLittleCredit="() => (tooLittleCredit = false)"
        />
    </md-card>
</template>

<script>
import moment from 'moment';
import { mapGetters, mapActions, mapMutations } from 'vuex';
import config from '@config';
import AfterCallModal from '../modals/afterCallModal';
import TooLittleCreditModal from '../modals/tooLittleCreditModal';
import Snackbar from '../elements/Snackbar';
import DepositSection from './depositSection';
const io = require('socket.io-client');
const socket = io(`${config.socketUrl}`);

export default {
    components: {
        AfterCallModal,
        TooLittleCreditModal,
        Snackbar,
        DepositSection
    },

    filters: {
        formatDate(value) {
            if (value) {
                return moment(String(value)).format('DD.MM.YYYY');
            }
        }
    },

    data() {
        return {
            depositWaitForPayment: false,
            canTake: false,
            disabledTake: false,
            disabledCall: true,
            disabledDeposit: true,
            openAfterCallModall: false,
            loading: true,
            calling: false,
            iCall: false,
            canCall: false,
            isTaken: false,
            isTakenOther: false,
            showCalling: false,
            showTakenMessage: false,
            date: moment(180 * 1000),
            time: '',
            progressWidth: 100,
            takenByCarrier: '',
            tooLittleCredit: false,
            price: { call: 5, take: 55 },
            offerExpired: false,
            carrierUUID: '',
            inquiryUUID: ''
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser',
            route: 'content/routeDetails',
            carrier: 'content/carrierDetails',
            views: 'content/views',
            deposit: 'content/deposit'
        }),

        passengerHasBeenTakenBy() {
            return ` Spóźniłeś się! Pasażer został zabrany przez przewoźnika: ${this.takenByCarrier}`;
        },

        passengerIsTalkingMessage() {
            return 'Pasażer rozmawia z innym przewoźnikiem. Zaczekaj i zadzwoń za kilka minut.';
        }
    },

    methods: {
        ...mapActions({
            getRoute: 'content/getRoute',
            getPhone: 'content/getPhone',
            getCarrier: 'content/getCarrier',
            getViews: 'content/getViews',
            getCalled: 'content/getCalled',
            getAnyCall: 'content/getAnyCall',
            returnCarrier: 'content/returnCarrier'
        }),

        ...mapMutations({
            updateRoute: 'content/UPDATE_ROUTE_DETAILS'
        }),

        carrierDontGetPassenger() {
            this.openAfterCallModall = false;
            this.isTaken = false;
        },

        async getRouteDetails() {
            const { created_at, taken_by } = this.route;

            if (moment().format(created_at) === moment().format('YYYY-MM-DD')) {
                const created_at_format = 'Dzisaj';
                const created_at = null;

                this.updateRoute({ created_at_format, created_at });
            }

            if (taken_by === this.carrierUUID) {
                this.isTaken = true;
                this.isTakenOther = false;
                this.canCall = true;
                this.iCall = true;

                await this.getPhone(this.inquiryUUID);
            } else if (typeof taken_by === 'undefined' || taken_by === null) {
                this.canCall = true;
                this.iCall = false;
                this.canTake = false;
                this.disabledTake = true;
            } else if (taken_by !== this.carrierUUID) {
                this.showTakenMessage = true;
                this.isTakenOther = true;
                this.canCall = false;
                this.disabledCall = true;
                this.canTake = false;
                this.disabledTake = false;
                this.disabledDeposit = true;

                const { company_name } = await this.returnCarrier(taken_by);

                this.takenByCarrier = company_name;
            }

            const { take, call } = await this.getCalled({
                carrierUUID: this.carrierUUID,
                inquiryUUID: this.inquiryUUID
            });

            if (taken_by === this.carrierUUID || taken_by === null) {
                if (!take & call) {
                    console.log('11111');
                    this.iCall = true;
                    this.canCall = true;
                    this.canTake = true;

                    await this.getPhone(this.inquiryUUID);

                    setTimeout(() => {
                        this.openAfterCallModall = true;
                    }, 2000);
                }
            }

            const anyCall = await this.getAnyCall(this.inquiryUUID);

            if (!!anyCall && anyCall.carrier !== this.carrierUUID) {
                this.calling = true;
                this.canCall = false;
                this.canTake = false;
                this.disabledTake = true;
                this.showPhoneNumber(anyCall.updated_at, 180);
            }
        },

        async showPhoneNumber(updated_at, t) {
            const now = moment(
                moment()
                    .utcOffset(0)
                    .format('YYYY-MM-DD HH:mm:ss.SSSS')
            );

            const end = moment(updated_at);
            const duration = moment.duration(now.diff(end));
            const sec = duration.asSeconds();

            this.date = moment((t - sec) * 1000);
            this.progressWidth = 100 - (sec / t) * 100;

            const intvl = setInterval(() => {
                this.date = this.date.subtract(1, 'seconds');
                this.time = this.date.format('mm:ss');
                this.progressWidth -= 100 / t;

                if (this.progressWidth <= 0) {
                    clearInterval(intvl);
                    this.canCall = true;
                    this.calling = false;
                    this.showCalling = false;
                    this.progressWidth = 100;
                    this.date = moment(t * 1000);
                }
            }, 1000);
        },

        checkCreditAndGetPassenger() {
            this.openAfterCallModall = false;

            if (this.currentUser.credit < this.price.call) {
                this.tooLittleCredit = true;
            } else {
                this.carrierGetPassenger();
            }
        },

        carrierGetPassenger() {
            const msg = [{ cmd: 'take' }];

            socket.emit('for_server', {
                data: msg,
                request_uuid: this.inquiryUUID,
                uuid: this.carrierUUID + '.' + this.inquiryUUID
            });

            this.disabledTake = false;
            this.canTake = false;
            this.isTaken = true;
            this.canCall = true;
            this.iCall = true;
        },

        checkCreditAndCall() {
            if (this.currentUser.credit < this.price.call) {
                this.tooLittleCredit = true;
            } else {
                this.callToPassenger();
            }
        },

        async callToPassenger() {
            const msg = [{ cmd: 'call' }];

            if (!this.iCall) {
                socket.emit('for_server', {
                    data: msg,
                    request_uuid: this.carrierUUID,
                    uuid: this.carrierUUID + '.' + this.inquiryUUID
                });

                socket.on('for_client', async data => {
                    this.iCall = true;
                    await this.getCarrier(this.carrierUUID);
                });
            } else {
                location.href = 'tel:' + this.route.phone;
            }
        },

        async getMq() {
            socket.emit('for_server', {
                request_uuid: this.inquiryUUID,
                uuid: this.carrierUUID + '.' + this.inquiryUUID
            });

            socket.on('for_client', async data => {
                const { msg, content } = data;
                const routingKey = this.carrierUUID + '.' + this.inquiryUUID;
                const rabbitMqResponse = msg.fields.routingKey.split('.');

                if (content === '{"cmd":"call"}') {
                    if (msg.fields.routingKey === routingKey) {
                        const { phone } = await this.getPhone(this.inquiryUUID);
                        setTimeout(() => {
                            this.openAfterCallModall = true;
                        }, 3000);
                        this.canCall = true;
                        this.iCall = true;
                        this.canTake = true;
                        this.disabledTake = false;
                    } else {
                        this.calling = true;
                        this.canCall = false;
                        this.canTake = false;
                        this.disabledCall = false;
                        this.disabledTake = true;
                        this.showPhoneNumber(moment().toISOString(), 180);
                    }
                }

                if (content === '{"cmd":"take"}') {
                    if (msg.fields.routingKey === routingKey) {
                        this.canTake = false;
                        this.openAfterCallModall = false;
                        this.isTaken = true;
                        this.disabledTake = false;
                        this.isTakenOther = false;
                        this.canCall = true;
                        this.iCall = true;

                        await this.getPhone(this.inquiryUUID);
                    } else {
                        this.showTakenMessage = true;
                        this.isTakenOther = true;
                        this.canCall = false;
                        this.disabledCall = true;
                        this.canTake = false;
                        this.disabledTake = false;
                        this.disabledDeposit = true;

                        const { company_name } = await this.returnCarrier(
                            rabbitMqResponse.shift()
                        );

                        this.takenByCarrier = company_name;
                    }
                }

                if (content === '{"cmd":"depo"}') {
                    if (msg.fields.routingKey === routingKey) {
                        this.depositWaitForPayment = true;
                    }
                }
            });
        },

        isTakenByCarrie() {
            const { taken_by } = this.route;

            if (!!taken_by || taken_by !== this.carrierUUID) {
                return false;
            } else {
                return taken_by === this.carrierUUID;
            }
        },

        ifCurrentOffer() {
            const { created_at, taken_by } = this.route;
            const status = moment(created_at).add(24, 'hours');
            const now = moment(
                moment()
                    .utcOffset(0)
                    .format('YYYY-MM-DD HH:mm:ss.SSSS')
            );

            this.offerExpired = this.isTakenByCarrie()
                ? false
                : !taken_by
                ? false
                : now.isAfter(status);

            return this.isTakenByCarrie() ? true : !now.isAfter(status);
        }
    },

    async created() {
        const { inquiryUUID } = this.$route.params;
        this.carrierUUID = this.currentUser.carrierUUID;
        this.inquiryUUID = inquiryUUID;

        await this.getRoute(this.inquiryUUID);
        await this.getViews({ carrierUUID: this.carrierUUID, inquiryUUID });

        if (this.ifCurrentOffer()) {
            this.getMq();
            this.getRouteDetails();
        } else {
            this.getRouteDetails();
        }

        this.loading = false;
    }
};
</script>
