<template>
    <div>
        <md-dialog
            :md-active="show"
            :md-fullscreen="false"
            :md-click-outside-to-close="false"
        >
            <md-dialog-title>
                Zabierasz tego
                <br />
                pasażera?
            </md-dialog-title>
            <div class="c707070">
                Kliknij&nbsp;
                <strong>
                    Zabieram pasażera
                </strong>
                to spowoduje, że innym przewoźnikom zablokujesz kontakt do
                niego. Koszt 50 punktów ( 5 zł )
            </div>
            <md-dialog-actions class="mt20">
                <md-button
                    class="md-primary"
                    @click="$emit('carrierDontGetPassenger')"
                >
                    zamknij
                </md-button>
                <md-button
                    v-if="show == true"
                    class="btn-action btn-get-passenger-small"
                    @click="$emit('carrierGetPassenger')"
                >
                    Zabieram
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>
<script>
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {};
    }
};
</script>
