<template>
    <md-dialog
        :md-fullscreen="true"
        :md-active="show"
        :md-click-outside-to-close="false"
    >
        <md-dialog-title>
            Dodaj punkty
            <button
                type="button"
                class="md-button close-modal md-theme-default"
            >
                <div class="md-ripple" @click="$emit('closeModal')">
                    <div class="md-button-content">
                        x
                    </div>
                </div>
            </button>
        </md-dialog-title>
        <div class="payment-radio">
            <div class="md-radio">
                <md-radio v-model="radio" :value="packageA"
                    ><div>
                        <strong>
                            2 500 pkt.
                            <span class="vip">
                                VIP
                            </span>
                            +
                            <span class="gold">
                                złoty
                            </span>
                            medal
                            <br
                        /></strong>

                        <span class="small">
                            307 zł, zapytanie 12 min wczesniej
                        </span>
                    </div></md-radio
                >
            </div>
            <div class="md-radio">
                <md-radio v-model="radio" :value="packageB">
                    <div>
                        <strong>
                            2 000 pkt.
                            <span class="vip">
                                VIP
                            </span>
                            +
                            <span class="silver">
                                srebrny
                            </span>
                            medal
                            <br
                        /></strong>

                        <span class="small">
                            246 zł, zapytanie 9 min wczesniej
                        </span>
                    </div></md-radio
                >
            </div>
            <div class="md-radio">
                <md-radio v-model="radio" :value="packageC">
                    <div>
                        <strong>
                            1 500 pkt.
                            <span class="vip">
                                VIP
                            </span>
                            +
                            <span class="bronze">
                                brązowy
                            </span>
                            medal
                            <br
                        /></strong>

                        <span class="small">
                            185 zł, zapytanie 6 min wczesniej
                        </span>
                    </div></md-radio
                >
            </div>
            <div class="md-radio">
                <md-radio v-model="radio" :value="packageD"
                    ><div>
                        <strong>
                            1 000 pkt.
                            <span class="vip">
                                VIP
                            </span></strong
                        >
                        <br />
                        <span class="small">
                            123 zł, zapytanie 3 min wcześniej
                        </span>
                    </div></md-radio
                >
            </div>
        </div>

        <md-dialog-actions>
            <div class="pull-left mt5" style="left: 0; position: absolute;">
                <img src="@assets/images/payu-logo.png" alt="payu" /> &nbsp;
                <img src="@assets/images/visa.png" alt="visa" /> &nbsp;
                <img src="@assets/images/mastercard.png" alt="mastercard" />
            </div>

            <md-button
                v-if="radio"
                class="md-dense md-raised md-primary pull-right mt20"
                @click="buyCredit"
            >
                Kup punkty &nbsp;
                <img
                    v-if="waitingBuy"
                    src="@assets/images/loader.gif"
                    alt="loader"
                    title="loader"
                />
            </md-button>
            <md-button
                v-else
                class="md-dense md-raised md-primary pull-right mt20"
                disabled
            >
                Kup punkty &nbsp;
            </md-button>
        </md-dialog-actions>
        <span class="small">
            ceny brutto (23%)
        </span>
    </md-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            radio: false,
            packageA: { points: 2500, price: 307 },
            packageB: { points: 2000, price: 246 },
            packageC: { points: 1500, price: 185 },
            packageD: { points: 1000, price: 123 },
            waitingBuy: false
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser'
        })
    },

    methods: {
        ...mapActions({
            buyPoints: 'payments/buyPoints'
        }),

        async buyCredit() {
            if (this.radio.points > 0) {
                this.waitingBuy = true;

                const params = {
                    uuid: this.currentUser.carrierUUID,
                    url: window.location.href,
                    amount: this.radio.points
                };

                const response = await this.buyPoints(params);

                window.location.href = response.data;
            }
        }
    }
};
</script>
