<template>
    <md-dialog :md-fullscreen="false" :md-active="show">
        <div style="display: flex; justify-content:space-between">
            <div
                class="text-center"
                style="justify-content:center; padding:5px"
            >
                Wygeneruj zaliczkę dla pasażera
            </div>

            <md-button
                class="closeX"
                @click="$emit('closeDepositModal')"
                style="justify-content:flex-end"
            >
                X
            </md-button>
        </div>

        <div class="mt20">
            <input
                id="deposit_price"
                v-model="depositPrice"
                type="text"
                class="form-input"
                placeholder="Kwota zaliczki"
            />
            <span class="zl">zł</span>
        </div>
        <md-button
            v-if="!depositSent"
            class="btn-prim btn-get-passenger-relative"
            @click="send"
        >
            Wyślij
            <img
                v-if="loading"
                src="@assets/images/loader.gif"
                alt="loader"
                title="loader"
            />
        </md-button>
        <md-button
            v-if="depositSent"
            class="btn-get-passenger-relative btn-deposit-sent"
        >
            <img src="@assets/images/icon-check.png" alt="depositSent" />
            Wysłane
        </md-button>
        <div v-if="depositSent" class="cadc247 m10 text-center">
            Prośba o zaliczkę została wysłana
        </div>
    </md-dialog>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import moment from 'moment';
import config from '@config';
import qs from 'qs';
const io = require('socket.io-client');
const socket = io(`${config.socketUrl}`);

export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            depositSent: false,
            depositSuccess: false,
            depositPrice: 0,
            loading: false
        };
    },

    watch: {
        depositSent() {
            if (this.depositSent) {
                this.$emit('emitDepositSent', true);
            }
        }
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser',
            route: 'content/routeDetails'
        })
    },

    methods: {
        ...mapActions({
            sendDeposit: 'content/sendDeposit'
        }),

        async send() {
            this.loading = true;
            const { inquiryUUID } = this.$route.params;
            const date = moment(String(this.route.requested_at)).format(
                'DD.MM.YYYY'
            );

            const params = qs.stringify({
                uuid: this.currentUser.carrierUUID,
                url: window.location.href,
                request: inquiryUUID,
                price: this.depositPrice,
                phone: this.route.phone,
                desc: this.route.from + ' - ' + this.route.to + ' ' + date,
                app: 1
            });

            const response = await this.sendDeposit(params);

            if (response) {
                this.depositSent = true;
                this.loading = false;

                const msg = [{ cmd: 'depo' }];

                socket.emit('for_server', {
                    data: msg,
                    request_uuid: inquiryUUID,
                    uuid: this.currentUser.carrierUUID + '.' + inquiryUUID
                });

                socket.disconnect();
            }
        }
    }
};
</script>
