<template>
    <md-dialog :md-fullscreen="true" :md-active="show">
        <md-dialog-title>
            Kup medal
            <md-button
                class="md-button close-modal md-theme-default"
                @click="$emit('close')"
            >
                x
            </md-button>
        </md-dialog-title>
        <div class="payment-radio">
            <md-radio
                v-model="radio"
                name="payment"
                class="sel_credit w100p  md-primary"
                :value="890"
            >
                <div>
                    <strong>
                        890 pkt.
                        <span class="vip">
                            VIP
                        </span>
                        +
                        <span class="gold">
                            złoty
                        </span>
                        medal
                        <br />
                    </strong>
                    <span class="small">
                        zapytanie 12 min wczesniej
                    </span>
                </div>
            </md-radio>
            <md-radio
                v-model="radio"
                name="payment"
                class="sel_credit w100p  md-primary"
                :value="690"
            >
                <div>
                    <strong>
                        690 pkt.
                        <span class="vip">
                            VIP
                        </span>
                        +
                        <span class="silver">
                            srebrny
                        </span>
                        medal
                        <br />
                    </strong>
                    <span class="small">
                        zapytanie 9 min wczesniej
                    </span>
                </div>
            </md-radio>
            <md-radio
                v-model="radio"
                name="payment"
                class="sel_credit w100p  md-primary"
                :value="490"
            >
                <div>
                    <strong>
                        490 pkt.
                        <span class="vip">
                            VIP
                        </span>
                        +
                        <span class="bronze">
                            brązowy
                        </span>
                        medal
                        <br />
                    </strong>
                    <span class="small">
                        zapytanie 6 min wczesniej
                    </span>
                </div>
            </md-radio>
            <md-radio
                v-model="radio"
                name="payment"
                class="sel_credit w100p  md-primary"
                :value="190"
            >
                <div>
                    <strong>
                        190 pkt.
                        <span class="vip">
                            VIP
                        </span>
                    </strong>
                    <br />
                    <span class="small">
                        zapytanie 3 min wcześniej
                    </span>
                </div>
            </md-radio>
        </div>
        <md-dialog-actions class="mt20">
            <md-button
                class="md-dense md-raised md-primary pull-right mt20"
                @click="buy"
            >
                Kup za punkty &nbsp;
                <img
                    v-if="waitingBuy"
                    src="@assets/images/loader.gif"
                    alt="loader"
                    title="loader"
                />
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            waitingBuy: false,
            radio: false
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser'
        })
    },

    methods: {
        ...mapActions({
            buyMedal: 'payments/buyMedal',
            getCarrier: 'auth/validate'
        }),

        async buy() {
            if (this.radio) {
                this.waitingBuy = true;
                const params = {
                    uuid: this.currentUser.carrierUUID,
                    url: window.location.href,
                    amount: this.radio
                };

                const response = await this.buyMedal(params);

                if (response) {
                    this.waitingBuy = false;
                    this.$emit('close');
                    this.getCarrier();
                }
            }
        }
    }
};
</script>
