<template>
    <md-dialog :md-fullscreen="false" :md-active="show">
        <div class="one-row">
            <div class="text-center" style="width:100%">
                <img
                    :src="require('@assets/images/icon_wallet_black.svg')"
                    alt="kredyt"
                    title="kredyt"
                />
                <div class="text-black">WYPŁACENIE ZALICZKI</div>
            </div>
            <md-button @click="$emit('close')">
                X
            </md-button>
        </div>
        <div class="text-center">
            Wybierz ile i w jakiej formie chcesz wypłacić zaliczki.
        </div>
        <div class="flex-box mt20 mb20">
            <div class="modal-amount">
                {{ amount }} zł / {{ amount * 10 }}pkt.
            </div>
            <input type="range" min="50" max="537" v-model.number="amount" />
        </div>
        <div class="one-row modal-buttons mt20">
            <md-button class="modal-to-bank-account" @click="$emit('close')">
                NA KONTO
            </md-button>
            <md-button class="modal-to-points" @click="$emit('close')">
                NA PUNKTY
            </md-button>
        </div>
    </md-dialog>
</template>
<script>
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            amount: 50
        };
    },

    methods: {}
};
</script>
