<template>
    <md-dialog :md-fullscreen="true" :md-active="show" class="modal-price">
        <div class="one-row">
            <md-dialog-title>
                <div class="text-center">
                    Tabela stawek
                </div>
            </md-dialog-title>
            <md-button @click="$emit('closePriceModal')">
                X
            </md-button>
        </div>
        <p>
            Stawka jest wynikiem Twojej skuteczności w zabieraniu pasażerów.
            Jest liczona codziennie.
        </p>
        <table class="text-left priceTable">
            <tr>
                <th>Poziom</th>
                <th>Stawka ZADZWOŃ</th>
                <th>Stawka ZABIERZ</th>
                <th>Razem</th>
            </tr>
            <tr v-for="item in items" :key="`item-${item.level}`">
                <td>{{ item.level }}</td>
                <td>{{ item.priceCal }} zł</td>
                <td>{{ item.priceTake }} zł</td>
                <td>{{ item.priceCal + item.priceTake }} zł</td>
            </tr>
        </table>
    </md-dialog>
</template>
<script>
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },

    data() {
        return {
            items: [
                { level: '> = 90%', priceCal: 0, priceTake: 8 },
                { level: '> = 80%', priceCal: 1, priceTake: 7 },
                { level: '> = 70%', priceCal: 2, priceTake: 5 },
                { level: '> = 60%', priceCal: 3, priceTake: 5 },
                { level: '> = 50%', priceCal: 4, priceTake: 3 },
                { level: '> = 40%', priceCal: 5, priceTake: 3 },
                { level: '> = 30%', priceCal: 6, priceTake: 2 },
                { level: '> = 20%', priceCal: 7, priceTake: 1 },
                { level: '> = 10%', priceCal: 8, priceTake: 1 },
                { level: '> = 9%', priceCal: 9, priceTake: 1 },
                { level: '> = 8%', priceCal: 10, priceTake: 1 },
                { level: '> = 7%', priceCal: 11, priceTake: 1 },
                { level: '> = 6%', priceCal: 12, priceTake: 1 }
            ]
        };
    },

    methods: {}
};
</script>
