<template>
    <div>
        <md-dialog
            :md-fullscreen="false"
            :md-active="show"
            :md-click-outside-to-close="false"
        >
            <md-dialog-title>
                Masz mało punktów
            </md-dialog-title>
            <div class="c707070">
                Dokup punkty abyś mógł zabierać pasażerów.&nbsp;
                <strong> Kup 1000 punktów </strong>. Cena 123 zł z VAT
            </div>
            <div>
                <md-dialog-actions>
                    <md-button
                        class="md-dense md-raised md-primary pull-right mt20"
                        @click="buy"
                    >
                        Kup &nbsp;
                        <img
                            v-if="waitingBuy"
                            src="@assets/images/loader.gif"
                            alt="loader"
                            title="loader"
                        />
                    </md-button>

                    <md-button
                        class="md-primary"
                        @click="$emit('closeTooLittleCredit')"
                    >
                        Zamknij
                    </md-button>
                </md-dialog-actions>
            </div>
        </md-dialog>
    </div>
</template>
<script>
import { mapActions } from 'vuex';

export default {
    props: {
        show: {
            type: Boolean,
            default: false
        },

        carrierUUID: {
            type: String,
            default: ''
        }
    },

    data() {
        return {
            waitingBuy: 0,
            depositSent: false
        };
    },

    methods: {
        ...mapActions({
            buyCredit: 'payments/buyCredit'
        }),

        async buy() {
            this.waitingBuy = true;
        },
        sendDeposit() {}
    }
};
</script>
