<template>
    <div
        class="md-layout-item md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100 mb40"
    >
        <div class="one-row mt20 mb40">
            <span class="md-headline deposits-headline">ZALICZKI</span>
            <div class="one-row">
                <div class="account-balance">
                    <div class="coins">{{ currentUser.credit / 10 }} zł</div>
                    <div class="points">{{ currentUser.credit }} punktów</div>
                </div>
                <md-button class="btn-pay-out" @click="payOffModall">
                    <img
                        :src="require('@assets/images/icon_wallet.svg')"
                        alt="kredyt"
                        title="kredyt"
                    />
                    <div class="text">WYPŁAĆ</div>
                </md-button>
            </div>
        </div>
        <div class="right">
            <md-button
                class="btn-filter"
                :class="{ active: filter === 'ALL' }"
                @click="filters('ALL')"
            >
                <div class="text">w realizacji</div>
            </md-button>
            <md-button
                class="btn-filter"
                :class="{ active: filter === 'COMPLETED' }"
                @click="filters('COMPLETED')"
            >
                <div class="text">zapłacone</div>
            </md-button>
            <md-button
                class="btn-filter"
                :class="{ active: filter === 'NOT_COMPLETED' }"
                @click="filters('NOT_COMPLETED')"
            >
                <div class="text">niezapłacone</div>
            </md-button>
            <md-button
                class="btn-filter"
                :class="{ active: filter === 'PAID' }"
                @click="filters('PAID')"
            >
                <div class="text">wypłacone</div>
            </md-button>
        </div>

        <div v-if="filterPaid">
            <md-card
                v-for="item in filterPaid"
                :key="item.id"
                class="mt20"
                md-theme="default-card"
            >
                <div class="padding-default">
                    <div class="one-row">
                        <div
                            v-bind:class="{
                                'card-price-green': item.status === 'COMPLETED',
                                'card-price-red':
                                    item.status === null ||
                                    item.status !== 'COMPLETED'
                            }"
                        >
                            {{ item.price }} zł
                        </div>
                        <div>
                            <div class="card-from-to">
                                {{ item.description }}
                            </div>
                        </div>
                    </div>
                    <div class="one-row">
                        <div class="card-details">
                            <div
                                v-if="item.status === 'COMPLETED'"
                                class="card-icons"
                            >
                                <img
                                    v-for="n in 4"
                                    :key="n"
                                    :src="
                                        require(`@assets/images/icon_tick_green.svg`)
                                    "
                                />
                            </div>
                            <div v-else class="card-icons">
                                <img
                                    v-for="n in 4"
                                    :key="n"
                                    :src="
                                        require(`@assets/images/icon_tick_red.svg`)
                                    "
                                />
                            </div>
                            <div
                                v-if="item.status === 'COMPLETED'"
                                class="one-row"
                            >
                                <div class="card-payment-status">ZAPŁACONA</div>
                                <div class="card-data-time">
                                    {{ item.paid_at }}
                                </div>
                            </div>
                            <div v-else class="one-row">
                                <div class="card-payment-status">
                                    NIEZAPŁACONA
                                </div>
                            </div>
                        </div>
                        <md-button class="card-call-btn" @click="call(item)">
                            <img
                                :src="require('@assets/images/icon-call.png')"
                                alt="kredyt"
                                title="kredyt"
                            />
                            <div class="text">ZADZWOŃ</div>
                        </md-button>
                    </div>
                </div>
            </md-card>
        </div>
        <pay-off-deposit-modal :show="showPayOffModal" @close="payOffModall" />
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import PayOffDepositModal from '@components/modals/payOffDepositModal';

export default {
    components: {
        PayOffDepositModal
    },

    data() {
        return {
            showPayOffModal: false,
            filter: 'ALL'
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser',
            carrierDeposits: 'content/carrierDeposits'
        }),

        filterPaid() {
            const filter = this.filter;

            if (filter === 'COMPLETED') {
                //zapłata od pasaera
                return this.carrierDeposits.filter(item => {
                    return item.status === 'COMPLETED' && item.paid === null;
                });
            }

            if (filter === 'NOT_COMPLETED') {
                //brak zapłaty od pasaera
                return this.carrierDeposits.filter(item => {
                    return item.status === 'CANCELED' && item.paid === null;
                });
            }

            if (filter === 'PAID') {
                //wypłacone zaliczki
                return this.carrierDeposits.filter(item => {
                    return item.paid;
                });
            }

            if (filter == 'ALL') {
                return this.carrierDeposits.filter(item => {
                    return item.status === null && item.paid === null;
                });
            }
        }
    },

    methods: {
        ...mapActions({
            getCarrier: 'auth/validate',
            getDeposit: 'content/getDeposit'
        }),

        call(item) {
            const { phone } = item;
            location.href = 'tel:' + phone;
        },

        filters(type) {
            this.filter = type;
        },

        payOffModall() {
            this.showPayOffModal = !this.showPayOffModal;
        }
    },

    mounted() {
        this.getDeposit();
    }
};
</script>
