<template>
    <div
        class="md-layout-item md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100"
    >
        <Route name="routeCompontent" />
    </div>
</template>

<script>
import Route from '@components/Route/main';
import { mapActions } from 'vuex';

export default {
    components: {
        Route
    },
    data() {
        return {};
    },

    methods: {
        ...mapActions({
            getCarrier: 'auth/validate'
        })
    },

    mounted() {
        this.getCarrier();
    }
};
</script>
