<template>
    <div
        class="md-layout-item md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100"
    >
        <div class="one-row mt20">
            <span class="md-headline">USTAWIENIA</span>
        </div>

        <div class="settings-notifications">
            <h3>Powiadomienia</h3>
            <ul>
                <div class="subtitle">Wysyłaj zapytania SMS</div>
                <md-switch v-model="dontSendSms" @change="updateSettings" />
            </ul>
            <ul>
                <div class="subtitle">Wysyłaj zapytania E-mail</div>
                <md-switch v-model="dontSendEmail" />
            </ul>
            <ul>
                <div class="subtitle">
                    Powiadomienia na zablokowanym ekranie
                </div>
                <md-switch v-model="dontSendNotify" @change="updateSettings" />
            </ul>
            <ul>
                <div class="subtitle">E-mail z listą pasażerów</div>
                <md-switch v-model="dontSendBulk" @change="updateSettings" />
            </ul>

            <h3 style="mt20">Zmiana hasła</h3>
            <form>
                <md-field>
                    <label>Stare hasło</label>
                    <md-input
                        v-model="passwordForm.oldPassword"
                        type="password"
                        placeholder="Wpisz stare hasło"
                    ></md-input>
                </md-field>

                <md-field>
                    <label>Nowe hasło</label>
                    <md-input
                        v-model="passwordForm.newPassword"
                        type="password"
                        placeholder="Wpisz nowe hasło"
                    ></md-input>
                </md-field>

                <md-field>
                    <label>Powtórz hasło</label>
                    <md-input
                        v-model="passwordForm.confirmPassword"
                        type="password"
                    ></md-input>
                </md-field>
            </form>
        </div>
    </div>
</template>

<script>
import Route from '@components/Route/main';
import { mapActions } from 'vuex';

export default {
    components: {
        Route
    },
    data() {
        return {
            dontSendSms: false,
            dontSendEmail: false,
            dontSendNotify: false,
            dontSendBulk: false,

            passwordForm: {
                oldPassword: '',
                newPassword: '',
                confirmPassword: ''
            }
        };
    },

    methods: {
        ...mapActions({
            getCarrier: 'auth/validate',
            getNoticonf: 'settings/getNoticonf',
            changeNoticonf: 'settings/changeNoticonf'
        }),

        formatData(response) {
            const {
                dont_send_sms,
                dont_send_mail,
                dont_send_notify,
                dont_send_bulk
            } = response;

            this.dontSendSms = !dont_send_sms;
            this.dontSendEmail = !dont_send_mail;
            this.dontSendNotify = !dont_send_notify;
            this.dontSendBulk = !dont_send_bulk;
        },

        async getSettings() {
            const response = await this.getNoticonf();
            this.formatData(response);
        },

        async updateSettings() {
            const data = JSON.stringify({
                dont_send_sms: !this.dontSendSms,
                dont_send_mail: !this.dontSendEmail,
                dont_send_notify: !this.dontSendNotify,
                dont_send_bulk: !this.dontSendBulk
            });

            await this.changeNoticonf(data);

            this.$toast.success(`Zmiany zostały zapisane`);
        }
    },

    mounted() {
        this.getCarrier();
        this.getSettings();
    }
};
</script>
