<template>
    <div
        class="md-layout-item md-large-size-100 md-medium-size-100 md-small-size-100 md-xsmall-size-100"
    >
        <p v-for="n in 100" :key="n">{{ n }}</p>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import config from '@config';
const io = require('socket.io-client');

export default {
    components: {},

    data() {
        return {
            data: {}
        };
    },

    computed: {
        ...mapGetters({
            currentUser: 'auth/currentUser',
            carrierRequests: 'requests/carrierRequests'
        })
    },

    methods: {
        ...mapMutations({
            addRequest: 'requests/ADD_REQUEST'
        }),

        ...mapActions({
            getCarrier: 'auth/validate',
            lastCarrierRequests: 'requests/lastCarrierRequests'
        }),

        async test() {
            const socket = io(`${config.socketUrl}`);

            socket.emit('for_server_test', {
                request_uuid: this.currentUser.carrierUUID
            });

            socket.on('for_client_test', async data => {
                this.data = data;
            });
        }
    },

    async created() {
        this.test();
    }
};
</script>
