input[type='range'] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    width: 90%;
    cursor: pointer;
    border-radius: 15px;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 20px;
    border-radius: 10px;
    background: #191551;
    box-shadow: -100vw 0 0 100vw #191551;
}
