.swipeout-list {
    display: flex;
    flex-direction: column;
}
.swipeout-action {
    display: flex;
}
.swipeout-action > div {
    display: flex;
    align-items: center;
    width: 90px;
    cursor: pointer;
}

.swipeout-action.action-panel-left > div:nth-of-type(even) {
    background-color: #aabd45;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.swipeout-action.action-panel-left > div:nth-of-type(odd) {
    background-color: #3e3eb0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.swipeout-list-item {
    flex: 1;
    border-bottom: 1px solid lightgray;
}
.swipeout-list-item:first-of-type {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: none;
    border-top: 1px solid lightgray;
}
.swipeout-list-item:last-of-type {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: none;
    border-bottom: 1px solid lightgray;
}
.swipeout-content {
    padding: 10px;
    width: 100%;
    min-height: 130px;
    background-color: white;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.swipeout-content > div > div:nth-child(1) {
    display: flex;
    justify-content: space-between;

    .message-green {
        background-color: #e7edc7;
        color: #aec051;
        border-radius: 15px;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .message-gray {
        background-color: #f4f4f4;
        color: #c9c9c9;
        border-radius: 15px;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .message-blue {
        background-color: #c8cef5;
        color: #4558de;
        border-radius: 15px;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .time-ago {
        color: #cccccc;
    }
}
.swipeout-content > div {
    .data-time {
        color: #cccccc;
        font-size: 16px;
        padding: 5px 0;
    }
}
.swipeout-content > div > div:nth-child(3) {
    display: flex;
    justify-content: flex-start;

    .icon {
        width: 9px;
        margin-top: 4.5px;
    }

    .route {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        color: #757575;
    }
    .icon-phone {
        position: absolute;
        right: 30px;
        img {
            width: 25px;
            height: 25px;
        }
    }
}

.swipeout-content > div > div:nth-child(4) {
    display: flex;
    justify-content: flex-start;
    height: 15px;
    div {
        img {
            width: 16px;
            height: 16px;
        }
    }
}
