@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    body {
        background-image: url('../images/turnDeviceOver.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        z-index: 999;
    }

    #app {
        display: none;
    }
}

#app {
    height: auto;
    min-height: 100vh;
    background: #f2f2f2;
}

body {
    background-color: #181863;
}
.full-width {
    width: 100%;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.mt10 {
    margin-top: 10px;
}
.m0-17 {
    margin: 0 17px;
}
.mt5 {
    margin-top: 5px;
}
.mt20 {
    margin-top: 20px;
}
.mb40 {
    margin-bottom: 40px !important;
}
.ma {
    margin: auto;
}
.w600 {
    width: 600px;
}
.mw600 {
    max-width: 600px;
}
.mw580 {
    max-width: 580px;
}
.w89 {
    width: 89%;
}
.w100p {
    width: 100% !important;
}
.b12 {
    bottom: 12px;
}
.pa {
    position: absolute;
}
.text-center {
    text-align: center;
}
button {
    max-width: 600px;
}
.flex {
    display: flex-inline;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#md-toolbar {
    position: fixed;
    padding-top: env(safe-area-inset-top);
    background-color: #13184f;
    width: 100%;
    z-index: 6;
    .md-tabs.md-theme-default.md-primary .md-tabs-navigation {
        background-color: #40457d;
    }
}

.md-toolbar.md-theme-default.md-primary {
    background-color: #13184f;
}
.container {
    margin: 0 auto;
    width: 600px;
    max-width: 600px;
    min-width: 300px;
    padding: 0 10px;
}
.md-credit {
    color: #fff !important;
    border: 1px solid #fff;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: none;
    height: auto !important;
    min-width: 140px;
    margin: 10px 0;
}
@supports (-webkit-touch-callout: none) {
    .content {
        display: flex;
        padding-top: 120px;
    }
}
@supports not (-webkit-touch-callout: none) {
    .content {
        display: flex;
        padding-top: 90px;
    }
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.mt25 {
    margin-top: 25px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb15 {
    margin-bottom: 15px;
}
.mr15 {
    margin-right: 15px;
}
.h2 {
    margin-bottom: 6px;
    margin-top: 24px;
    display: inline-block;
}
.md-card.md-theme-default {
    border-top: 5px solid #ff5c5c;
}
.md-card-header .md-card-header-text {
    display: flex;
}
.md-card .md-subhead {
    opacity: 1;
}
.md-subhead h2 {
    font-size: 18px;
    color: #000;
    opacity: 1;
    margin: 2px 0;
}
.md-subhead h2 strong {
    color: #ff5c5c;
    text-transform: uppercase;
}
.md-subhead h2 .carrier_type_2 {
    color: #4558de !important;
}
.c707070 {
    color: #707070;
}
.db {
    display: block !important;
}
.dib {
    display: inline-block;
    img {
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
}
.md-card-content {
    display: flex;
    padding: 7px 16px;
}
.md-avatar {
    width: 60px;
    height: 60px;
    float: left;
    position: relative;
    top: 16px;
}
.md-avatar img {
    display: inline-block;
}
.btn-call {
    border-radius: 5px;
    box-shadow: 0px 3px 2px 0 rgba(35, 31, 32, 0.2);
    background-color: #adc247;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff !important;
    width: 100%;
    text-transform: none;
    padding: 15px;
    height: auto;
}
.btn-action {
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0 rgba(35, 31, 32, 0.35);
    background-color: #d6d6d6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(35, 31, 32, 0.35) !important;
    width: 100%;
    text-transform: none;
    padding: 15px;
    height: auto;
}
.md-card-actions {
    display: block;
}
.md-card-actions .md-button:last-child {
    margin-left: 0 !important;
    margin-top: 8px;
}
.first_logo {
    display: inline-block;
    width: 100%;
    max-width: 11vh;
    height: 87px;
    background: #6c8693;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 35px;
    font-size: 30px;
}
.countdown-line {
    top: -4px;
    background-color: #008000 !important;
}
.countdown-line-call {
    top: -4px;
    background-color: #adc247 !important;
    z-index: 99999;
}
#counter {
    color: #008000;
}
.md-dialog-title {
    padding: 0;
}
.md-dialog-container {
    max-width: 580px;
    max-height: 400px;
    padding: 20px;
    border-radius: 5px;
    top: 50% !important;
    left: 50% !important;
    bottom: auto !important;
    width: 89%;
    margin: 0 !important;
    //transform: translate(-50%, -50%);
    transform-origin: center center;
    transition: opacity 0.15s cubic-bezier(0.25, 0.8, 0.25, 1),
        transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: opacity, transform, left, top;
    z-index: 99999 !important;
}
.btn-get-passenger {
    display: inline-block;
    border: 0;
    z-index: 10000242;
    bottom: 12px;
    background: #4558de;
    color: #fff !important;
    width: 89%;
    max-width: 580px;
    margin: 0 17px;
}
.btn-get-passenger-relative {
    border: 0;
    background: #4558de;
    color: #fff !important;
}
.btn-get-passenger-small {
    border: 0;
    background: #4558de;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    width: auto;
    height: auto;
}
.btn-prim {
    margin: 10px 0;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 15px;
}
.btn-call-passenger-small {
    border: 0;
    background: #adc247;
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    width: auto;
    height: auto;
}
.btn-taken {
    background: #c8cef5;
    color: #181863 !important;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0 rgba(35, 31, 32, 0.2);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-transform: none;
    padding: 15px;
    height: auto;
}
.takenByCarrier {
    border-radius: 5px;
    border: solid 1px #ff5c5c;
    background-color: #d32f2f;
    box-shadow: 0px 3px 3px 0 rgba(35, 31, 32, 0.2);
    color: #fff;
    padding: 10px;
    margin-top: -8px;
}
.snackTaken {
    background-color: #d6d6d6 !important;
}
.getDeposit {
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    padding-bottom: 5px;
}
.btn-deposit {
    background: transparent;
    border: 2px solid #4558de;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-transform: none;
    padding: 15px;
    height: auto;
    border-radius: 5px;
    margin: 20px 0;
    .md-button-content {
        color: #4558de;
    }
}
.btn-deposit-disabled {
    background: #808080;
    border: 2px solid #808080;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-transform: none;
    padding: 15px;
    height: auto;
    border-radius: 5px;
    margin: 20px 0;
    cursor: default !important;
    .md-button-content {
        color: #fff;
    }
}

.closeX {
    position: relative;
    right: -30px !important;
    top: -10px !important;
    color: #644f4f !important;
    background: #fff;
    font-size: 17px;
    &:hover {
        &:before {
            color: #000 !important;
            background-color: transparent !important;
        }
    }
}

.priceTable {
    max-width: 590px;
    overflow-x: hidden;
    border-collapse: collapse;
    margin-bottom: 20px;
    th {
        color: #9d9d9d;
        border-bottom: 1px solid #d6d6d6;
        border-top: 1px solid #d6d6d6;
    }
    td {
        border-bottom: 1px solid #d6d6d6;
    }
    tr {
        &:nth-child(even) {
            background: #f3f3f3;
        }
    }
}
.priceTable th,
.priceTable td {
    padding: 5px;
}
.tooltip {
    cursor: pointer;
}
.md-tooltip {
    font-size: 15px;
    height: auto;
    background: #333 !important;
    border-radius: 5px;
    padding: 10px;
}
.zl {
    position: absolute;
    right: 29px;
    margin-top: 10px;
    color: #707070;
}
.form-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    background: #fafafa;
    padding: 10px 9px 10px 16px;
    font-size: 15px;
}
.btn-deposit-sent {
    background-color: #c8cef5 !important;
    border: 1px solid #d6d6d6;
    color: #181863 !important;
    margin: 10px 0;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 15px;
}
.fs13 {
    font-size: 13px;
}
.cadc247 {
    color: #adc247;
}
.mw40 {
    max-width: 40px;
}
.w49p {
    width: 49%;
}
.w50p {
    width: 50%;
}

.modal-price {
    min-height: 410px !important;
    .md-dialog-container {
        overflow: auto;
        max-height: 700px;
    }
}
.payment-radio {
    font-size: 15px;
}
.small {
    font-size: 12px;
    color: #9c9c9c;
}
.vip {
    color: #adc247;
    font-size: 15px;
}
.bronze {
    color: #c26c3e;
}
.silver {
    color: #9c9c9c;
}
.gold {
    color: #e6b744;
}
.payment-dialog {
    max-height: fit-content;
    margin: 15px;
    display: block;
    .md-dialog-actions {
        padding: 0;
        display: block;
    }
}
.md-radio {
    margin: 8px;
}

.close-modal {
    float: right;
    margin-top: -5px;
    color: #808080 !important;
}
.buy-medal {
    font-size: 10px !important;
    font-weight: 600;
    color: #4558de !important;
    border-radius: 10.5px;
    border: solid 1px #4558de;
    background-color: #f3f3f3;
    margin-left: 0;
    margin-top: 0;
    padding: 5px 10px;
    height: auto;
}
.mw40 {
    max-width: 40px;
}
.md-tabs-navigation {
    height: 30px;

    .md-button {
        height: 28px;
    }
    .md-tabs-indicator {
        height: 4px;
    }
}

@media screen and (max-width: 900px) {
    .btn-add-points #add-text {
        display: none;
    }
    #points-full-text {
        display: none;
    }
    #points-short-text {
        text-align: right;
        font-size: 13px;
        display: block;
    }
    .card-call-btn {
        .md-button-content {
            width: 25px !important;
            margin-top: 2px;
        }
        .text {
            display: none;
        }

        img {
            margin-left: 2px;
        }
    }
}

@media screen and (min-width: 900px) {
    #points-full-text {
        display: block;
    }
    #points-short-text {
        display: none;
    }
}

.btn-add-points {
    border-radius: 5px;
    box-shadow: 0px 3px 2px 0 rgba(35, 31, 32, 0.2);
    background-color: #ff5c5c;
    color: #fff !important;
    text-transform: none;
    padding: 5px 0px 5px 0px;
    height: auto;
    img {
        width: 20px;
        height: 20px;
        float: left;
    }

    #add-text {
        padding-top: 1px;
        padding-right: 24px;
    }
}
.md-button {
    min-width: 36px;
}
.btn-menu {
    border-radius: 5px;
    box-shadow: 0px 3px 2px 0 rgba(35, 31, 32, 0.2);
    background-color: transparent;
    color: #fff !important;
    text-transform: none;
    padding: 5px 0px 5px 0px;
    height: auto;
    img {
        width: 20px;
        height: 20px;
    }
}

.menu-content {
    z-index: 999;
    margin-top: 5px;
    border-radius: 7px;
}
.md-list-item-content {
    min-height: 10px;
    font-size: 15px;
}

.md-list {
    border-radius: 7px;
}

.md-headline {
    color: #212121b0;
    padding: 10px;
}

.md-switch.md-theme-default.md-checked .md-switch-thumb {
    background-color: #13184f;
}
.md-switch.md-theme-default.md-checked .md-switch-container {
    background-color: #858ac6;
}

.settings-notifications {
    h3 {
        font-weight: 400;
        padding-left: 10px;
        color: #212121b0;
    }
    .subtitle {
        padding-top: 7px;
        margin-left: -30px;
        color: #212121b0;
    }
    ul {
        border-bottom: 1px solid #21212117;
        display: flex;
        justify-content: space-between;
        .md-switch {
            margin: 7px;
        }
    }

    form {
        margin: 7px;
    }
}

.one-row {
    display: flex;
    justify-content: space-between;
}

.account-balance {
    padding-top: 9px;
    .coins {
        text-align: right;
        font-size: 24px;
        font-weight: 400;
    }
    .points {
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        color: #40457d;
    }
}

.md-card .md-body-1 {
    padding: 16px;
    color: #212121b0;
}

.btn-pay-out {
    .md-button-content {
        width: 85px;
    }
    border-radius: 5px;
    box-shadow: 0px 3px 2px 0 rgba(35, 31, 32, 0.2);
    background-color: #ff5c5c;
    color: #fff !important;
    text-transform: none;
    padding: 5px 0px 5px 0px;
    height: auto;
    img {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 3px;
    }

    .text {
        padding-top: 1px;
        padding-right: 24px;
    }
}

.right {
    display: flex;
    justify-content: flex-end;
}

.btn-filter {
    .md-button-content {
        width: auto;
        padding-left: 3px;
        padding-right: 3px;
    }
    border: 1px solid #d1d1d1;
    font-size: 11px;
    border-radius: 15px;
    box-shadow: 0px 3px 2px 0 rgba(35, 31, 32, 0.2);
    background-color: #ededed;
    color: #2121219a;
    text-transform: none;
    padding: 8px 0px 8px 0px;
    height: auto;
}

.btn-filter.active {
    background-color: #ebeadd;
    border: 1px solid #adc247;
    color: #adc247;
}
.padding-default {
    padding: 16px;
}
.card-price-green {
    color: #adc247;
    font-size: 24px;
    min-width: 100px;
}
.card-price-red {
    color: #ff5c5c;
    font-size: 24px;
    min-width: 100px;
}

.card-from-to {
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}
.card-date {
    text-align: right;
    font-size: 14px;
}

.card-call-btn {
    .md-button-content {
        width: 99px;
    }
    margin-right: -2px;
    border-radius: 5px;
    box-shadow: 0px 3px 2px 0 rgba(35, 31, 32, 0.2);
    background-color: #adc247;
    color: #fff !important;
    text-transform: none;
    padding: 8px 0px 8px 0px;
    height: auto;
    img {
        width: 20px;
        height: 20px;
        float: left;
        padding: 2px;
    }

    .text {
        padding-top: 1px;
        padding-right: 24px;
    }
}

.card-icons {
    img {
        padding: 2px;
    }
}

.card-payment-status {
    font-size: 12px;
    font-weight: 500;
}

.card-data-time {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
}

.card-details {
    margin-top: 7px;
}
.md-overlay.md-fixed,
body > .md-overlay {
    z-index: 9;
}

.md-card.md-theme-default-card {
    background-color: white;
}

.md-dialog-container {
    img {
        padding: 15px 0 0 0;
        margin-left: 36px;
    }
    .text-black {
        text-align: center;
        padding-top: 5px;
        margin-left: 36px;
    }
}

.modal-amount {
    padding: 10px;
    font-size: 20px;
}

.modal-buttons {
    .modal-to-bank-account {
        color: #d3535f;
    }
    .modal-to-points {
        color: #adc247;
    }
}
